body{
    width: 100%;
    height: 100%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 15rem;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    padding: 1rem;
    font-size: large;
    color: white;
    background-color: black;
    border-radius: 15px;    
}

h1{
    border-bottom: 5px solid black;
}